In [1]:
import numpy as np
import pandas as pd

## Series

In [2]:
myDict = {"Yunus": 50, "Zeynep": 40, "Mehmet": 30}

In [3]:
pd.Series(myDict)

Yunus     50
Zeynep    40
Mehmet    30
dtype: int64

In [4]:
type(pd.Series(myDict))

pandas.core.series.Series

In [5]:
myYas = [50,40,30]
myNames = ["Yunus","Zeynep","Mehmet"]

In [6]:
pd.Series(myYas)

0    50
1    40
2    30
dtype: int64

In [7]:
pd.Series(myYas,myNames)

Yunus     50
Zeynep    40
Mehmet    30
dtype: int64

In [8]:
pd.Series(data=myYas, index = myNames)

Yunus     50
Zeynep    40
Mehmet    30
dtype: int64

In [9]:
numpyDizisi = np.array([50,40,30])

In [10]:
numpyDizisi

array([50, 40, 30])

In [11]:
pd.Series(numpyDizisi)

0    50
1    40
2    30
dtype: int64

In [12]:
pd.Series(data = numpyDizisi, index = myNames)

Yunus     50
Zeynep    40
Mehmet    30
dtype: int64

In [14]:
pd.Series(["Yunus","Merve","Deniz"], [1,2,3])

1    Yunus
2    Merve
3    Deniz
dtype: object

In [15]:
compRes1 = pd.Series([10,5,1],["Yunus","Merve","Deniz"])

In [16]:
compRes1

Yunus    10
Merve     5
Deniz     1
dtype: int64

In [17]:
compRes2 = pd.Series(data = [20,10,8], index = ["Yunus","Merve","Deniz"])

In [18]:
compRes2

Yunus    20
Merve    10
Deniz     8
dtype: int64

In [19]:
compRes2["Yunus"]

20

In [20]:
sonSonuc = compRes1 + compRes2

In [21]:
sonSonuc

Yunus    30
Merve    15
Deniz     9
dtype: int64

In [22]:
difSeries = pd.Series([20,30,40,50],["a","b","c","d"])

In [23]:
difSeries2 = pd.Series([10,5,3,1], ["a","c","f","g"])

In [24]:
difSeries

a    20
b    30
c    40
d    50
dtype: int64

In [25]:
difSeries2

a    10
c     5
f     3
g     1
dtype: int64

In [27]:
difSeries + difSeries2

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64