In [58]:
import pandas as pd
import numpy as np

In [59]:
np.random.randn(4,3)

array([[-0.40045444,  0.17585903,  0.0709948 ],
       [-0.96429615,  0.48857278,  0.82037895],
       [-0.19760565,  1.17798278,  0.04660843],
       [-0.167787  , -1.00133791,  0.67775211]])

## Data Frame İçin Veri Hazırlama

In [60]:
data = np.random.randn(4,3)

In [61]:
data

array([[ 0.13556472,  0.53192736, -2.89880833],
       [-2.41466272, -0.46379229, -0.05020267],
       [ 0.35280143,  0.65588276, -0.88126863],
       [-0.22213579,  3.10347907, -0.27264404]])

## Data Frame Oluşturma

In [62]:
dataFrame = pd.DataFrame(data)

In [63]:
dataFrame

          0         1         2
0  0.135565  0.531927 -2.898808
1 -2.414663 -0.463792 -0.050203
2  0.352801  0.655883 -0.881269
3 -0.222136  3.103479 -0.272644

## Data Frame Kolon Çekme

In [64]:
dataFrame[0]

0    0.135565
1   -2.414663
2    0.352801
3   -0.222136
Name: 0, dtype: float64

## Data Frame Tipi

In [65]:
type(dataFrame)

pandas.core.frame.DataFrame

## DataFrame Colonlara ve Satırlara (Indexlere) İsim Verme

In [66]:
newDataFrame = pd.DataFrame(data = data, index = ["a","b","c","d"], columns = ["e","f","g"])

In [67]:
newDataFrame

          e         f         g
a  0.135565  0.531927 -2.898808
b -2.414663 -0.463792 -0.050203
c  0.352801  0.655883 -0.881269
d -0.222136  3.103479 -0.272644

In [68]:
newDataFrame["f"]

a    0.531927
b   -0.463792
c    0.655883
d    3.103479
Name: f, dtype: float64

## İki Kolonu Aynı Anda Çekme

In [69]:
newDataFrame[["f","g"]]

          f         g
a  0.531927 -2.898808
b -0.463792 -0.050203
c  0.655883 -0.881269
d  3.103479 -0.272644

In [70]:
newDataFrame["f"]

a    0.531927
b   -0.463792
c    0.655883
d    3.103479
Name: f, dtype: float64

## Satırı Çekme (Index'i Yani)

In [71]:
newDataFrame.loc["a"]

e    0.135565
f    0.531927
g   -2.898808
Name: a, dtype: float64

In [72]:
newDataFrame.loc["a"]

e    0.135565
f    0.531927
g   -2.898808
Name: a, dtype: float64

## Satırı (Index'i) Index Kullanarak Çekme

In [73]:
newDataFrame.iloc[0]

e    0.135565
f    0.531927
g   -2.898808
Name: a, dtype: float64

In [74]:
newDataFrame

          e         f         g
a  0.135565  0.531927 -2.898808
b -2.414663 -0.463792 -0.050203
c  0.352801  0.655883 -0.881269
d -0.222136  3.103479 -0.272644

In [75]:
ndf = pd.DataFrame(newDataFrame.loc["a"])

In [76]:
ndf

          a
e  0.135565
f  0.531927
g -2.898808

In [77]:
newDataFrame

          e         f         g
a  0.135565  0.531927 -2.898808
b -2.414663 -0.463792 -0.050203
c  0.352801  0.655883 -0.881269
d -0.222136  3.103479 -0.272644

In [78]:
newDataFrame["e"]

a    0.135565
b   -2.414663
c    0.352801
d   -0.222136
Name: e, dtype: float64

## Frame'e Sütun Ekleme

In [79]:
newDataFrame["x"] = [1,2,3,4]

In [80]:
newDataFrame

          e         f         g  x
a  0.135565  0.531927 -2.898808  1
b -2.414663 -0.463792 -0.050203  2
c  0.352801  0.655883 -0.881269  3
d -0.222136  3.103479 -0.272644  4

## Frame'den Sütun Çıkarma

In [81]:
newDataFrame.drop("x")

KeyError: "['x'] not found in axis"

### Sütünların 'axis' kodu : 1

In [ ]:
newDataFrame.drop("x", axis = 1)

### Satırların 'axis' kodu : 0

In [ ]:
newDataFrame.drop("a", axis = 0)

In [ ]:
newDataFrame

## Silmelerin Kalıcılığı

In [ ]:
newDataFrame.drop("x", axis = 1, inplace=True)

In [ ]:
newDataFrame

In [ ]:
newDataFrame.loc["a"]

In [ ]:
newDataFrame.loc["a"]["e"]

In [ ]:
newDataFrame.loc["a","e"]

In [ ]:
newDataFrame

## DataFrame Kontrolleri

In [ ]:
newDataFrame < 0

In [ ]:
newDataFrame[newDataFrame < 0]

In [ ]:
newDataFrame["f"]

### Sütun Değerine Göre Satırları Sınıflandırma / Süzme

In [ ]:
newDataFrame[newDataFrame["f"] > 0]

In [ ]:
newDataFrame

In [ ]:
newDataFrame[newDataFrame["g"] > 1]

In [ ]:
newDataFrame

In [ ]:
newDataFrame

## Index Sıfırlama, Index Kolaylaştırma

In [ ]:
newDataFrame.reset_index()

In [ ]:
newDataFrame

In [ ]:
newIndexList = ["Yunus","Merve","Zeynep","meryem"]

## Frame'e Kolon Ekleme (Index Değiştime İçin)

In [85]:
newDataFrame["Yeni Index"] = newIndexList

In [86]:
newDataFrame

          e         f         g  x Yeni Index
a  0.135565  0.531927 -2.898808  1      Yunus
b -2.414663 -0.463792 -0.050203  2      Merve
c  0.352801  0.655883 -0.881269  3     Zeynep
d -0.222136  3.103479 -0.272644  4     meryem

## Frame Index Değiştirme (Geçici)

In [87]:
newDataFrame.set_index("Yeni Index")

                   e         f         g  x
Yeni Index
Yunus       0.135565  0.531927 -2.898808  1
Merve      -2.414663 -0.463792 -0.050203  2
Zeynep      0.352801  0.655883 -0.881269  3
meryem     -0.222136  3.103479 -0.272644  4

In [ ]:
newDataFrame

## Index Değiştirme Kalıcı (..., inplace = True)

In [88]:
newDataFrame.set_index("Yeni Index", inplace = True)

In [89]:
newDataFrame

                   e         f         g  x
Yeni Index
Yunus       0.135565  0.531927 -2.898808  1
Merve      -2.414663 -0.463792 -0.050203  2
Zeynep      0.352801  0.655883 -0.881269  3
meryem     -0.222136  3.103479 -0.272644  4

In [90]:
newDataFrame.loc["Yunus"]

e    0.135565
f    0.531927
g   -2.898808
x    1.000000
Name: Yunus, dtype: float64

# Çoklu Index

## Indexleri Oluşturma (liste düzeyinde)

In [97]:
firstIndeksler = ["Simpson","Simpson","Simpson","South Park","South Park","South Park"]

In [98]:
icIndeksler = ["Homer","Bart","Marge","Cartman","Kenny","Kyle"]

## Indexleri Zipleme (birleştirme) (liste düzeyinde)

In [99]:
birlesmisIndeks = list(zip(firstIndeksler,icIndeksler))

In [100]:
birlesmisIndeks

[('Simpson', 'Homer'),
 ('Simpson', 'Bart'),
 ('Simpson', 'Marge'),
 ('South Park', 'Cartman'),
 ('South Park', 'Kenny'),
 ('South Park', 'Kyle')]

## Liste Düzeyinde Birleşmiş Index Listesini Pandas Indexine Çevirme

In [101]:
birlesmisIndeks = pd.MultiIndex.from_tuples(birlesmisIndeks)

In [102]:
birlesmisIndeks

MultiIndex([(   'Simpson',   'Homer'),
            (   'Simpson',    'Bart'),
            (   'Simpson',   'Marge'),
            ('South Park', 'Cartman'),
            ('South Park',   'Kenny'),
            ('South Park',    'Kyle')],
           )

## Veri Oluşturma Frame İçin

In [108]:
myCartoonList = [[40,"A"],[10,"B"],[30,"c"],[9,"D"],[10,"E"],[11,"F"]]

In [110]:
myCartoonNumpySeries = np.array(myCartoonList)

In [111]:
myCartoonNumpySeries

array([['40', 'A'],
       ['10', 'B'],
       ['30', 'c'],
       ['9', 'D'],
       ['10', 'E'],
       ['11', 'F']], dtype='<U21')

## Frame Oluşturma ve Sütunlara İsim Verme

In [112]:
cartoonFrame = pd.DataFrame(myCartoonNumpySeries, index = birlesmisIndeks, columns = ["Yas","Meslek"])

In [113]:
cartoonFrame

                   Yas Meslek
Simpson    Homer    40      A
           Bart     10      B
           Marge    30      c
South Park Cartman   9      D
           Kenny    10      E
           Kyle     11      F

In [115]:
cartoonFrame.loc["Simpson"]

      Yas Meslek
Homer  40      A
Bart   10      B
Marge  30      c

## MultiIndex'ten veri çekmek

In [116]:
cartoonFrame.loc["South Park"].loc["Kenny"]

Yas       10
Meslek     E
Name: Kenny, dtype: object

In [117]:
cartoonFrame

                   Yas Meslek
Simpson    Homer    40      A
           Bart     10      B
           Marge    30      c
South Park Cartman   9      D
           Kenny    10      E
           Kyle     11      F

## Multi Indexlere İsim Koyma (yani üstlerindeki satırlara

In [ ]:
cartoonFrame.index.names = ["Film Adı", "İsim"]

In [120]:
cartoonFrame

                   Yas Meslek
Film Adı   İsim
Simpson    Homer    40      A
           Bart     10      B
           Marge    30      c
South Park Cartman   9      D
           Kenny    10      E
           Kyle     11      F